
/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */

	html
	{
		xbackground: rgb(225,238,253) url(images/bg_body.png) repeat-x;
	}

	.main
	{
		xwidth: 1000px; 
		margin: 0 auto; 
		padding: 0 10px; 
		xborder: 4px solid white; 
		xbackground: transparent url(images/bg_banner.jpg) no-repeat;
	}

.main h1 {
  color: #777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
  xtext-shadow: 4px 3px 6px rgba(0,0,0,.5);
}

.main h1 strong {
  font-size: 90px;
  color: darkblue;
  line-height: 1.2em;
  margin-right: -3em;
}

.main h2 {
	font: bold 3.5em Arial, Helvetica, sans-serif;
	color: white;
	border-bottom: 1px solid rgb(200,200,200);
	margin-top: -50px;
}

.main h3 {
  font: bold 3.5em sans-serif;
  color: rgb(255,102,0);
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}

.main h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
	text-align: center;
  background-color: #777;
  xmargin: 5px 10% 5px 10%;
  padding: 5px 10px;
}

#timeRemainingSection
{
  background-color: black;
}

.subtitle_left
{
	text-align: right;
  color: white;
  background-color: darkgrey;
  margin-right: 0px;
  padding-right: 5px;
  width: 50%;
  float: left;
}

.subtitle_right
{
	text-align: left;
  color: white;
  background-color: black;
  margin-left: 0px;
  padding-left: 5px;
  width: 50%;
  float: right;
}


	body
	{
		font-family: "Times New Roman", Times, serif;
		font-size: 1em;
		font-weight: normal;
		/*text-transform: capitalize;*/
		/*text-decoration: ;*/
		letter-spacing: 0.0em;
		line-height: 1.2em;
		word-spacing: 0em;
		/*text-shadow: 2px 2px 4px #999999;*/
	}

	#instructions
	{
		text-indent: 25px;
		margin-left: 0%;
		margin-right: 50%;
		line-height: 1.8;
	}

	p:first-line { 
		/*font-weight: bold; color: black; */
		/*text-transform: uppercase;*/
	}

	#leaderboard
	{
		float: right;
		margin: 50px 50px 50px 50px;
		padding: 25px;
		border: 0px solid black;
		background-color: white;
		box-shadow: 4px 4px 6px #000000;
	}

	ol
	{
		list-style-type: decimal;
		/*background-color: red;*/
	}

	li
	{
		/*border: 1px solid #bd8110;*/
		/*background-color: #999999;*/
		margin-top: 5px;
	}

	#results
	{
		font-size: .8em;
		color: darkgray;
	}

	.dataDisplay
	{
		color: forestgreen;
		font: bold 1.2em sans-serif;
	}

	.dataDisplay p
	{
		margin-top: 10px;
	}

.centeredContent  {
	float: none; 
	margin: 0 auto;
}


.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5.5px 11px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

div
{
	transition: transform 2s ;
	-moz-transition: transform 2s ; /* Firefox 4 */
	-webkit-transition: -webkit-transform 2s ; /* Safari and Chrome */
	-o-transition: transform 2s ; /* Opera */
}

#divFrame
{
	position: relative;
	height: 400px;
	width: 420px;
	margin: 00px;
	padding:0px;
	border: 1px solid black;
}

#divBall
{
	position: absolute;
	background-color: white;
	height: 10px;
	width: 10px;
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	-moz-transform: translate(200px, 380px); 
	-webkit-transform: translate(200px, 380px); 
}

#divClub
{
	background-image: url('images/iron_right_cropped_small.png'); 
	padding:0px;
	position: absolute;
	border: 0px solid black;
	background-color: red;
	height: 195px;
	width: 25px;

	-moz-transform: translate(190px, 200px) rotate(0deg); 
	-moz-transform-origin:75% 0%; 
	-webkit-transform: translate(190px, 200px) rotate(0deg); 
	-webkit-transform-origin:75% 0%; 
}

#results 
{
	white-space: pre;
}

.col-md-6,.col-md-12,.col-md-5,.col-md-2
{
  xborder: 1px solid rgba(0,0,0,0.5);
  text-align: center;
}

.showBorder
{
  border: 1px solid #777;
}

.row
{
  margin-top: 15px;
}

.param-title
{
  text-align: left;
  color: darkgrey;
  margin-left: 10%;
}

.param-value
{
  text-align: left;
  color: black;
  margin-left: 15%;
}


.left-text
{
  text-align: left;
  color: darkgrey;
}

#hole-overhead
{
  background-image: url('images/swing_dial_bg_200.png'); 
  padding:0px;
  position: absolute;
  border: 0px solid blue;
  background-color: blue;
  height: 199px;
  width: 199px;
}

#hole-overhead-black
{
  background-image: url('images/par4_top_black.png'); 
  padding: 0px;
  position: relative;
  border: 0px solid blue;
  height: 300px;
  width: 111px;
  margin-left: 30px;
}

img {
    vertical-align: middle;
    height: 100%;
}

#scale-down-200 {
    height: 200px;
}

#scale-down {
    height: 400px;
}

.ballFlightCanvas
{
  border : 1px solid black;
  background-color: white;
}


.camera_view,#player_greencam
{
  padding: 0px;
  position: relative;
  border: 1px solid black;
  background-color: white;
  width: 320px;
  height: 240px;
  margin: 5px;
}


.camera_view_black
{
  padding: 0px;
  position: relative;
  border: 2px solid white;
  background-color: black;
  width: 320px;
  height: 240px;
  margin-top: 30px;
}


.padded-paragraph
{
  padding: 25px;
  color: darkgrey;
}

ul
{
  list-style: none;  
}

.leader-list-item
{
  color: white;
  background-color: white;
  padding: 2px 0px;
  margin: 0;
}

.leader_item_title
{
  text-align: left;
  color: white;
  background-color: #777;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 2px;
  width: 70%;
  float: left;

}

.leader_item_left
{
  text-align: left;
  color: white;
  background-color: lightgrey;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 2px;
  width: 70%;
  float: left;

}

.leader_item_right
{
  text-align: center;
  color: white;
  background-color: #777;
  margin-top: 2px;
  width: 29%;
  float: right;
}

.black-background
{
  background-color: black;
}